<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Nullable Security</title>
    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="/static/vendors/bootstrap/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/static/vendors/font-awesome/css/font-awesome.css">
    <!-- User Styles -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- ReCaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script> {{! This import cannot be locally hosted }}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">
<header>
    <!-- navigation -->
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand page-scroll" href="#page-top">nullable security</a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="about page-scroll" href="#about">about</a></li>
                    <li><a class="services page-scroll" href="#services">services</a></li>
                    <li><a class="learn page-scroll" href="#learn">learn</a></li>
                    <li><a class="connect page-scroll" href="#connect">connect</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- / navigation -->
    <!-- header -->
    <div class="page-header text-center">
        <h1><span class="light">digital</span> protection <span class="light">services</span></h1></div>
    <!-- / header -->
</header>
<main>
    <!-- about -->
    <section id="about">
        <div class="container section-box about-section">
            <div class="row">
                <h2 class="section-header col-sm-6 col-sm-push-6"><span class="underline-green">what we're all <span
                        class="color-bg-green">about</span></span></h2></div>
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <div class=fakeMenu>
                        <div class="fakeButtons fakeClose"></div>
                        <div class="fakeButtons fakeMinimize"></div>
                        <div class="fakeButtons fakeZoom"></div>
                    </div>
                    <div class="fakeScreen">
                        <p id="terminal-date"></p>
                        <p>Do you know...</p>
                        <p>what's happening...</p>
                        <p>b͍̼̪ͪ͊̏e̶ͮ͑͐h͈͚̘̘i̹͠n͖̘̈͒ͭ̆ͪ̎d͔͓̯̓̚̚͠ ̊ͪͯ̀͏͔͔̰̞t̘͂̅ͮ͑́ͅh̉̃̈́̂͌ͣ̋҉̠̘e̤
                            ̬̳̞̗̦̋̍͑̌s̥̜͙̄ͯ̀̉ͩc̭̰̖̘͐̈́e̠̲̰̫̬̦n̡̉͑ė̳̥̮̮̦̍̆ͩ̽̅͋͡s͖̟̠̕?̨͉̹̣̹̰͙</p>
                        <p>root@localhost:~# <span class="cursor blink">_</span></p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <blockquote>
                        <p>Know thy self, know thy enemy. A thousand battles, a thousand victories.</p>
                        <footer>Sun Tzu in
                            <cite title="Source Title">The Art of War</cite>
                        </footer>
                    </blockquote>
                    <p class="section-content">Nullable Security specializes in network and software security
                        assessments.
                        We provide a holistic view of a single technology, or an entire organizations security posture.
                        The latest tools, technology, and methodologies are used to give you a hacker's perspective of
                        your
                        infrastructure. Our consultants spent years working for Fortune 500 companies, identifying and
                        fixing
                        weaknesses used to attack digital systems. And we now leverage that experience for your benefit.
                        Nullable truly believes that offense is the best defense - so let us attack your problems.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- / about -->
    <!-- services -->
    <section id="services" class="slideanim">
        <br>
        <br>
        <div class="container section-box services-section">
            <div class="row">
                <h2 class="section-header col-sm-12"><span class="underline-blue"><span class="light">take a step</span> toward better <span
                        class="color-bg-blue">security</span></span></h2></div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="section-content">Nullable Security provides a wide variety of digital security services,
                        each of which we tailor to our client's individual needs.</p>
                    <ul>
                        <li><span class="glyphicon glyphicon-check"></span>Penetration Testing - PCI Compliance</li>
                        <li><span class="glyphicon glyphicon-check"></span>Web Application Security</li>
                        <li><span class="glyphicon glyphicon-check"></span>File & Protocol Fuzzing</li>
                        <li><span class="glyphicon glyphicon-check"></span>Secure Architecture Design</li>
                        <li><span class="glyphicon glyphicon-check"></span>Open Source Threat Intelligence</li>
                        <li><span class="glyphicon glyphicon-check"></span>Implant Development (LEO Only)</li>
                        <li><span class="glyphicon glyphicon-check"></span>Physical Security Assessments</li>
                        <li><span class="glyphicon glyphicon-check"></span>Ƀlockchain Technologies</li>
                        <li><span class="glyphicon glyphicon-check"></span>Security Awareness Training</li>
                    </ul>
                </div>
                <div class="col-sm-6 hidden-xs"><img class="img-responsive"
                                                     src="https://www.mainnerve.com/wp-content/uploads/images/scada%20testing.svg"
                                                     alt=""></div>
            </div>
        </div>
    </section>
    <!-- / services -->
    <!-- learn -->
    <section id="learn" class="slideanim">
        <br>
        <br>
        <div class="container-fluid section-box">
            <div class="row">
                <h2 class="section-header col-sm-12 text-center"><span class="underline-orange"><a class="subscribe-btn"
                                                                                                   href="https://blog.nullable.software/feeds/posts/default?alt=rss"
                                                                                                   target="_blank">subscribe</a> and <span
                        class="color-bg-orange">learn</span></span></h2>
            </div>
            <div id="js-blog-container" class="flex-container"></div>
        </div>
    </section>
    <!-- / learn-->
    <!-- connect -->
    <section id="connect" class="slideanim">
        <br>
        <br>
        <div class="container section-box connect-section">
            <div class="row">
                <h2 class="section-header col-sm-12 text-center"><span class="underline-red">reach out and <span
                        class="color-bg-red">connect</span></span></h2>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form action="/contact/" method="post">
                        <div class="form-group" id="name-div">
                            <label for="text">Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group" id="email-div">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group" id="subject-div">
                            <label for="text">Subject:</label>
                            <input type="text" class="form-control" id="subject">
                        </div>
                        <div class="form-group" id="message-div">
                            <label for="text">Message:</label>
                            <input type="text" class="form-control" id="message">
                        </div>
                        <input type="hidden" id="token" value="{{token}}">
                        <!--<div class="text-center">-->
                            <!--<button class="g-recaptcha main-button"-->
                            <!--data-sitekey="6Le8BjUUAAAAAOjAliNOBm-qSbn2NDT2FvDN7yzR"-->
                            <!--data-callback="YourOnSubmitFn">Submit-->
                            <!--</button>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row social-links text-center">
                <div class="col-sm-12">
                    <a href="https://www.facebook.com/NullableSec" target="_blank">
                        <button class="social-button draw meet"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://twitter.com/nullablesec" target="_blank">
                        <button class="social-button draw meet"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://linkedin.com/in/0x9090" target="_blank">
                        <button class="social-button draw meet"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
                        </button>
                    </a>
                    <a href="https://feeds.feedburner.com/NullableSecurity" target="_blank">
                        <button class="social-button draw meet"><i class="fa fa-2x fa-rss" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- / connect -->
    <!-- footer -->
    <footer>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-xs-12"><a class="page-scroll" href="#page-top" title="To Top">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a></div>
            </div>
            <p class="padding-top"><span class="glyphicon glyphicon-copyright-mark"></span> Copyright Nullable Security
            </p>
        </div>
    </footer>
    <!-- / footer -->
</main>
<!-- jQuery -->
<script src="/static/js/jquery-3.2.1.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap Js -->
<script src="/static/vendors/bootstrap/js/bootstrap.js"></script>
<!-- User Js -->
<script src="/static/js/main.js"></script>
</body>

</html>